node_modules
target/
src/artifacts/
log/
.vscode
.DS_Store
codegenCache.json
.env
.cursor
benchmarks/nft_base.benchmark.json
benchmarks/token_base.benchmark.json
benchmarks/tokenized_vault_base.benchmark.json
