[workspace]
members = [
"src/token_contract",
"src/token_contract/src/test/token_caller",
"src/dripper",
"src/nft_contract",
]

[benchmark]
token = "benchmarks/token_contract.benchmark.ts"
nft = "benchmarks/nft_contract.benchmark.ts"
tokenized_vault = "benchmarks/tokenized_vault_contract.benchmark.ts"
