[workspace]
members = [
"src/token_contract",
"src/dripper",
"src/nft_contract",
"src/escrow_contract",
"src/escrow_contract/src/test/test_logic_contract",
]

[benchmark]
token = "benchmarks/token_contract.benchmark.ts"
nft = "benchmarks/nft_contract.benchmark.ts"
tokenized_vault = "benchmarks/tokenized_vault_contract.benchmark.ts"
# escrow = "benchmarks/escrow_contract.benchmark.ts"
# logic = "benchmarks/logic_contract.benchmark.ts"
